/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Tilt+Neon&display=swap');

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: 'Golos Text', sans-serif; */
  font-family: 'Tilt Neon', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}